<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::pageContent})}">
<head>
    <meta charset="UTF-8">
    <title>Form tạo bài hát</title>
</head>
<body>
<div th:fragment="pageContent">
    <form method="post" th:action="@{/artist/new}" th:object="${artist}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}"/>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
</body>
</html>