<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa sinh viên</title>
</head>
<body>
<h2>Sửa sinh viên</h2>

<form th:action="@{/students/{id}/edit(id=${studentEdit.id})}"
      method="post"
      th:object="${studentEdit}">
    <p>
        Mã SV:
        <input type="text" th:field="*{id}" readonly />
    </p>

    <p>
        Họ tên:
        <input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}" style="color:red"></span>
    </p>

    <p>
        Điểm:
        <input type="number" step="0.1" th:field="*{garden}" />
        <span th:if="${#fields.hasErrors('garden')}"
              th:errors="*{garden}" style="color:red"></span>
    </p>

    <button type="submit">Cập nhật</button>
    <a th:href="@{/students}">Quay lại</a>
</form>
</body>
</html>
